html,
body,
main {
    min-height: 100vh;
}

body {
    font-size: 14px;
    font-family: 'Montserrat', serif;
    background-color: hsl(var(--clr-body-bg));
    color: hsl(var(--clr-body));
    padding-inline: 1rem;
}

main {
    display: grid;
    place-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', sans-serif;
    color: hsl(var(--clr-heading));
    line-height: 1;
}
