:root {
    --clr-black: 0, 0%, 7%;
    --clr-white: 0, 0%, 100%;
    --clr-primary: 158, 36%, 37%;
    --clr-primary-hover: 158, 36%, 20%;
    --clr-body-bg: 30, 38%, 92%;
    --clr-heading: 212, 21%, 14%;
    --clr-body: 228, 12%, 48%;
}
