@use 'reset';
@use 'root';
@use 'base';

.product-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--clr-white);
    border-radius: 20px;
    max-width: 600px;
    overflow: hidden;

    @media screen and (min-width: 630px) {
        grid-template-columns: 1fr 1fr;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }

    &__category {
        letter-spacing: 0.5ch;
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
    }

    &__description {
        font-weight: 500;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 1rem;

        &--new {
            color: var(--clr-dark-cyan);
            font-weight: 700;
            font-size: 2rem;
            font-family: 'Fraunces', sans-serif;
        }

        &--old {
            font-weight: 500;
            font-size: 0.8rem;
            text-decoration: line-through;
        }
    }

    &__add-to-card {
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        text-align: center;
        text-decoration: none;
        color: var(--clr-white);
        font-weight: 700;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--clr-dark-cyan);
    }
}
